.idea
.run
.tox
*.egg-info
tests/data/input/*.json
tests/data/input/*.qml
tests/data/output
tests/__pycache__
src/wijklabels/__pycache__
/build/
/dist/
/logs/
/.pytest_cache/
venv*
/plots*

# report
/report/.jupyter_cache/
/report/.quarto/
/report/_freeze/
/report/_output/
/report/.Rproj.user
/report/.Rhistory
/report/report.Rproj
/report/_environment
.Rproj.user
