.idea
.run
.tox
*.egg-info
tests/data/input/*.json
tests/data/input/*.qml
tests/data/output
tests/__pycache__
src/wijklabels/__pycache__
/build/
/dist/
/logs/
/.pytest_cache/
venv
/plots*
.Rproj.user

/.quarto/
.jupyter_cache
report_files
.Rproj.user
.RData
.Rhistory